:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #fff; /* white */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

.hero-back{
  width: 840px;
  display: block;
  height: auto;

}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  background-color: #e9c46a;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
  position: relative;
}

h1,article {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: gray; 
}

.hero_img{
  height: 100px;
  float: right;
  width: 125px;
}

article{
  margin-top: 250px;
  margin-left: 0;
}

article p{
  margin: 0;
}