
:root {
  --primary-color: #fff;
  --secondary-color: yellow; 
  --accent1-color: grey ; 
  --accent2-color: #000; 
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    display: inline-flexbox;
    size: 20px;
  }

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header, main, footer {
  width: 950px;
  margin: 0 auto;
}




h1, h2 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  
}


nav, p, section, article {
  margin: 20px;
  padding: 10px;
}


.hero {
  position: relative;
}

.article-img{
    width: 200px;
    float: right;
    margin-bottom: 83%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hero {
  background-image: url(../assets/rafting10_1024.jpg);  
  background-size: cover;              
  background-position: center;         
  background-repeat: no-repeat;      
  
  height: 400px;                    
  width: 100%;                         
}

.logo{
  width: 150px;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
}


.box {
  width: 100%;
  padding: 18px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
}

.about-img{
  float: right;        
  width: 150px;        
  height: 120px;
  margin: 0 0 10px 15px;
}

.about{
  margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
    color: #000;
}

