*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width:500px;
    margin: 1 rem;
    border: 1px solid rgb(0,0,0/10%);
    padding: 1 rem;
    background-color: #555;
    color: #fff;
}

h1{
    margin: .5;

}

form{
    margin: 1 rem;
    border: 1px solid rgb(0,0,0/20%);
    padding: 1 rem;
    background-color: #ddd;
    color: #111;
}