main{
    max-width: 840px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color: rgb(0 0 0/0.5);
    color: #333;
    text-align: center;
}

.aside{
    width: 200px;
    height: auto;
}

p{
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */

.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
    color: #000;
}

main img {
  float: right;        
  width: auto;        
  height: 90px;
  margin: 0 0 10px 15px;
 
}

.aside h2 {
  position: absolute;
  top: 50px;
  left: 120px;
}

.images{
     border: 1px solid red;
}